<main class="category">
    <a href="javascript: history.go(-1)">Terug</a> 
    <h1>{{category}}</h1>
    <ul>
        {{#each result}}
            <li>
                <a href="/details/{{this.id}}">
                    {{#if this.webImage.url}}
                        <img src="{{replaceS0 this.webImage.url}}" alt="{{this.title}}">
                    {{/if}}
                    <h2>{{this.title}}</h2>
                </a>
            </li>
        {{/each}}
    </ul>
</main>