<main>
  <section id="homepage">
    <section>
      <h1>Bekijk kunst altijd en overal</h1>
      <img src="{{hero.webImage.url}}" alt="{{hero.title}}">
    </section>
    <section>
      <h2>Top stukken:</h2>
      <ul>
        {{#each data}}
          <li>
            <a href="/details/{{this.id}}">
              <img src="{{this.webImage.url}}" alt="{{this.title}}">
              <h3>{{this.title}}</h3>
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
    <section>
      <h2>Onderwerpen</h2>
      <ul>
        <li><a href="/categorie/kunstenaars">Kunstenaars</a></li>
        <li><a href="/type/pot">Potten</a></li>
        <li><a href="/q/meubels">Meubels</a></li>
        <li><a href="/type/foto">Foto's</a></li>
        <li><a href="/type/schilderij">Schilderijen</a></li>
        <li><a href="/type/beeldhouwwerk">Beeldhouwwerk</a></li>
        <li><a href="/materiaal/porselein">Porselein</a></li>
        <li><a href="/materiaal/hout">Hout</a></li>
        <li><a href="/materiaal/olieverf">Olieverf</a></li>
        <li><a href="/materiaal/goud">Goud</a></li>
        <li><a href="/materiaal/diamant">Diamant</a></li>
        <li><a href="/materiaal/ijzer">Ijzer</a></li>
        <li><a href="/materiaal/papier">Papier</a></li>
      </ul>
    </section>
  </section>
</main>